body{
  font-family: 'Homemade Apple';font-size: 22px;
  background-image: url("black_slate.jpg");
  text-align: center;
}

#b_title{
  color: purple;
}

#navbar{
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  border: 2px solid black;
  text-align: center;
  text-decoration-color: black;
  overflow: hidden;
  background-color: #333;
  font-size: 15px;
  margin-bottom: 0.5%;
}


#navbar a{
  color: #f2f2f2;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

#navbar a:hover{
  background-color: #ddd;
  color: black;
}


#q_wrap, #q_wrap2{
  width: auto;
  height: auto;
  box-sizing: border-box;
  margin: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  float: left;
}

.wrap{
  width: 40%;
  height: inherit;
  box-sizing: border-box;
  border: 3px solid black;
  margin: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  float: left;
  text-align: center;
  background-image: url("paper.jpg");
}

.wrap2{
  width: 90%;
  box-sizing: border-box;
  border: 3px solid black;
  margin: 5%;
  margin-top: 2%;
  margin-bottom: 5%;
  float: left;
  text-align: center;
  background-image: url("paper.jpg");
}

p{
  margin-left: 2%;
  margin-right: 2%;
  box-sizing: content-box;
  width: auto;
  height: auto;
}


#quest1{
  font-size: 15px;
}

#quest2{
  font-family: 'Bilbo Swash Caps';font-size: 22px;
}

#quest3{
  font-family: 'Bilbo Swash Caps';font-size: 22px;
}

#quest4{
  font-family: 'Charmonman';font-size: 15px;
}

#newsText{
  font-size: 15px;
}
